@model IEnumerable<Giti.Models.Repository>

@{
    ViewData["Title"] = "My Repos";
}

<h2>My Repos</h2>

<p>
    <a asp-action="New">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                   @Html.RouteLink(item.Name, "GetRepositoryHomeView", new { userName = item.User.UserName, repoName = item.Name }, new { @class = "header medium ui" })
                   
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </tbody>
</table>
