@{
    ViewData["Title"] = Localizer["Home Page"];
}

<div class="jumbotron mb-10">
  <h1>KEEP CALM</h1>
  <p>and let us develop this ;)</p>
  <p><a class="btn btn-primary btn-lg" href="https://github.com/Hameds/Giti" role="button">@Localizer["Learn more"]</a></p>
</div>