@{
    

    string currRepo = (string)ViewContext.RouteData.Values["repoName"];
    string currUser = (string)ViewContext.RouteData.Values["userName"];
    string currId = (string)ViewContext.RouteData.Values["id"];
    var request = ViewContext.HttpContext.Request;
    var giturl = $"{request.Scheme}://{request.Host}/{currUser}/{currRepo}.git";
    ViewBag.Title = currRepo;
}
<h3>@currUser / @currRepo</h3>
<div class="row">
    <div class="col-md-8">
        <h3>Clone current repository with url below <small><a href="http://git-scm.com/book/en/Git-Basics-Getting-a-Git-Repository" rel="nofollow">Find out how</a></small></h3>
        <input type="text" class="form-control" value="@giturl" readonly="readonly">
    </div>
</div>